* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-soft-orange: hsl(35, 77%, 62%);
    --clr-soft-red: hsl(5, 85%, 63%);
    --clr-off-white: hsl(36, 100%, 99%);
    --clr-grayish-blue: hsl(233, 8%, 79%);
    --clr-dark-grayish-blue: hsl(236, 13%, 42%);
    --clr-very-dark-blue: hsl(240, 100%, 5%);

    font-family: 'Inter', sans-serif;
    --fc-heading: var(--clr-very-dark-blue);
    --fc-heading-inverted: var(--clr-off-white);
    --fc-body-copy: var(--clr-dark-grayish-blue);
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    --fs-body-copy: 0.9375rem;
    --fs-xxlarge: calc(var(--fs-body-copy) * 2.75);
    --fs-xlarge: calc(var(--fs-body-copy) * 2);
    --fs-large: calc(var(--fs-body-copy) * 1.25);
}

body {
    position: relative;
    color: var(--fc-body-copy);
    background-color: var(--clr-off-white);
    font-size: var(--fs-body-copy);
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.logo {
    max-height: 1.75rem;
}

.menu {
    margin-left: auto;
    max-height: 1.25rem;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.75;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    display: none;
    color: var(--fc-heading);
    font-size: var(--fs-large);
    position: absolute;
    right: 0;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    background-color: var(--clr-soft-red);
    border: none;
    color: var(--fc-heading-inverted);
    font-weight: var(--fw-bold);
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    max-width: 55%;
}

.new-articles {
    color: var(--clr-grayish-blue);
    background-color: var(--clr-very-dark-blue);
    padding: 1.325rem;
}

.new-articles > article {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.new-articles hr {
    color: var(--clr-dark-grayish-blue);
    margin-top: 2rem;
}

.other-articles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.row-article {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.row-article > img {
    max-width: 25%;
}

.decorative-number {
    font-size: var(--fs-xlarge);
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-bold);
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Utility Classes */
.fc-heading {
    color: var(--fc-heading);
}

.fc-heading-inverted {
    color: var(--fc-heading-inverted);
}

.fc-accent {
    color: var(--clr-soft-orange);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-extra-bold {
    font-weight: var(--fw-extra-bold);
}

.fs-xxlarge {
    font-size: var(--fs-xxlarge);
}

.fs-xlarge {
    font-size: var(--fs-xlarge);
}

.fs-large {
    font-size: var(--fs-large);
}